server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/identity_service"
    username: root
    password: 123456789
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  signerKey: "aa0eefb42c914aa7afc7dc6bf7d5915c8f5f84dcfb50f315678cd4f9a02e5e3a"
